@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Fraunces:wght@700;900&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Karla&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@700&family=Lexend+Deca&family=Manrope:wght@700&family=Markazi+Text:wght@500&family=Open+Sans:wght@400;700&family=Overpass:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@500;700&family=Public+Sans:wght@300;400;700&family=Rubik:wght@300;400;500&family=Space+Mono:wght@700&family=Ubuntu:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-6xl px-3 mx-auto;
}

.navli {
  @apply pl-7 font-bold text-gray hover:cursor-pointer hover:text-vdblue;
}

.form {
  background-image: url("../src/images/bg-boost-desktop.svg");
  background-size: cover;
}

@media (min-width: 1024px) {
  div.stair:nth-child(2) {
    transform: translateY(3rem);
  }

  div.stair:nth-child(3) {
    transform: translateY(6rem);
  }
}

footer li a:hover {
  color: hsl(180, 66%, 49%);
}